* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

nav {
    position: fixed;
    background-color: rgb(19, 19, 95);
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Logotipo-banco {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.Logotipo-banco__icono {
    width: 20px;
}

h1 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

#salir {
    position: absolute;
    bottom: 80px;
    right: 200px;
    background-color: rgb(245, 49, 42);
    color: aliceblue;
    letter-spacing: 2px;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.678);
}

#salir:hover {
    background-color: rgb(219, 29, 22);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-box__left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 220px;
    gap: 40px;
}


h3 {
    z-index: 100;
    top: 130px;
    color: rgb(253, 248, 226);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.363);
    text-align: end;
}

.main-box__right__img {
    position: absolute;
    right: -100px;
    bottom: 230px;
    width: 600px;
    border-radius: 4px;
    overflow: hidden;
}

#btnsaldo {
    z-index: 120;
    margin-left: 100px;
    width: 200px;
    height: 40px;
    background-color: rgb(6, 70, 167);
    color: rgb(224, 240, 255);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.678);
}

#btningresar {
    z-index: 130;
    margin-left: 100px;
    width: 200px;
    height: 40px;
    background-color: rgb(6, 70, 167);
    color: rgb(224, 240, 255);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.678);
}

#btnretirar {
    z-index: 130;
    margin-left: 100px;
    width: 200px;
    height: 40px;
    background-color: rgb(6, 70, 167);
    color: rgb(224, 240, 255);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.678);
}

#btnsaldo:hover {
    background-color: rgb(0, 106, 148);
}

#btningresar:hover {
    background-color: rgb(0, 106, 148);
}

#btnretirar:hover {
    background-color: rgb(0, 106, 148);
}

.saldo {
    width: 400px;
    height: 180px;
    position: absolute;
    right: 350px;
    top: 240px;
    border: 1px solid rgba(21, 137, 141, 0.288);
    border-radius: 10px;
    background-color: rgba(63, 93, 158, 0.048);
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(105, 105, 148);
    font-size: 23px;
    margin-top: 50px;
    margin-left: 60px;
    display: inline-block;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(28, 35, 39);
    font-size: 18px;
    display: inline-block;
    margin-left: 20px;
}

.opciones {
    border: 1px solid rgba(165, 165, 165, 0.342);
    margin-left: 55px;
    margin-top: 20px;
    width: 230px;
    height: 70px;
    padding: 8px;
    border-radius: 15px;
    background-color: white;
}

#opcion {
    color: rgb(88, 88, 88);
    font-size: 12px;
}

#saldo-nuevo {
    position: relative;
    left: 10px;
    color: rgb(104, 104, 104);
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid rgb(73, 73, 73);
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#btnIngresarRetirar {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
}

#btnIngresarRetirar:hover {
    background-color: rgb(48, 65, 97);
    color: aliceblue;
    border: none;
    height: 18px;
}

#seccion-saldo {
    display: none;
}

.opciones {
    display: none;
}
