* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(./img/familia-bg-image.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

form {
    background-color: rgba(0, 0, 0, 0.356);
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    color: aliceblue;
    text-shadow: 0px 0px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-right: 120px;
}

label {
    color: aliceblue;
    text-shadow: 0px 0px 5px black;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

input {
    height: 20px;
    margin-right: 70px;
    border-radius: 12px;
    padding-left: 15px;
    border: 1px solid rgba(15, 15, 15, 0.76);
}

#ingresar {
    padding: 0;
    width: 100px;
    height: 25px;
    background-color: rgb(219, 231, 255);
}

#ingresar:hover {
    background-color: rgb(4, 46, 124);
    color: aliceblue;
    cursor: pointer;
}

.input__cuenta {
    background-color: rgba(255, 255, 255, 0.829);
    width: 250px;
    height: 30px;
    text-align: center;
    border-style: none;
    border-radius: 15px;
    color: rgb(44, 44, 44);
    font-size: 15px;
    
}

.first-title {
    margin-top: -100px;
    font-size: 3em;
    color: aliceblue;
    text-shadow: 0px 0px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}