@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* footer */
footer {
    color: rgb(26, 26, 26);
    font-family: "Sofia Sans", sans-serif;
    box-sizing: border-box !important;
}


.personal-information-box {
    position: absolute;
    bottom: 18rem;
}

.container-knowledge-skills {
    width: 100%;
    padding: 3rem;
    position: relative;
}

.box-title {
    color: rgb(109, 109, 109);
    width: 100%;
    padding-top: 0.5rem;
    background-color: rgb(202, 202, 202);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: 0.5s;
}

.beginner {
    height: 2rem;

}

.mid {
    height: 3rem;
}

.advanced {
    height: 4rem;
}

/* .box-title:hover {
    position: absolute;
    top: 2rem;
    left: 0;
    position: fixed;
    height: 50vh;
    color: rgb(36, 36, 36);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 0.6rem rgb(170, 170, 170);
    width: 50vw;
    z-index: 10;
    border-radius: .8rem;
} */

/* ------------------------------------------------------------- */
/* Imagenes logotipos */
/* .logo-mongodb {
    position: relative;
    top: 1rem;
    left: 1rem;
}

.logo-mysql {
    position: relative;
    top: 3rem;
    left: 3rem;
} */

#img-fondo-footer {
    position: absolute;
    top: 0;
    right: -14rem;
    z-index: 10;
    width: 30rem;
}

.contacto {
    z-index: 100;
}

footer p {
    font-weight: 200;
}