:root {
    --green-a: #005208;
    --brown-a: #442700;
    --black-a: #030303;
}

.section-one-header {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    position: absolute;
    top: 0.7rem;
    left: 1.5rem;
    display: flex;
    align-items: center;
}
.img-nav {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: logo-animation-box;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 110;
}

.logotipo-nav {
    animation-name: logo-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 100;
    /* transition: 0.5s ease-in-out all; */
}

@keyframes logo-animation-box {
    0% {
        box-shadow: 0 0 0.3rem rgb(95, 95, 95), 0 0 0.4rem rgb(95, 95, 95);
    }

    100% {
        box-shadow: 0 0 0.2rem rgb(46, 46, 46), 0 0 0.3rem rgb(46, 46, 46);
    }
}

@keyframes logo-animation {
    0% {
        filter: drop-shadow(0 0 0.2rem rgb(202, 202, 202));
    }

    100% {
        filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
    }
}

.img-nav:hover {
    box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem rgb(255, 255, 255),
        0 0 0.3rem rgb(0, 0, 0), 0 0 0.4rem rgb(0, 0, 0) !important;
}

.box-greeting {
    margin-top: 5rem;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-imgs {
    position: absolute;
    bottom: 12rem;
    left: 0;
    width: 30rem;
    height: 5rem;
}
.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Sofia Sans", sans-serif;
    position: relative;
    bottom: 7rem;
    width: 100%;
}

.saludo {
    color: rgb(128, 128, 128);
}

.ocupacion {
    text-align: end;
    width: 100%;
    color: #fff;
    animation-name: changeColorTextOcupation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-clip: calc();
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    right: 5rem;
    top: 10rem;
    font-size: 7.5vw;
}

@keyframes changeColorTextOcupation {
    0% {
        background-image: linear-gradient(
            45deg,
            #442700 40%,
            #030303 70%,
            #005208 100%
        );
    }

    10% {
        background-image: linear-gradient(
            45deg,
            #005208 20%,
            #442700 50%,
            #030303 80%
        );
    }

    20% {
        background-image: linear-gradient(
            45deg,
            #005208 30%,
            #442700 60%,
            #030303 90%
        );
    }

    30% {
        background-image: linear-gradient(
            45deg,
            #005208 40%,
            #442700 70%,
            #030303 100%
        );
    }

    40% {
        background-image: linear-gradient(
            45deg,
            #030303 20%,
            #005208 50%,
            #442700 80%
        );
    }

    50% {
        background-image: linear-gradient(
            45deg,
            #030303 30%,
            #005208 60%,
            #442700 90%
        );
    }

    60% {
        background-image: linear-gradient(
            45deg,
            #030303 40%,
            #005208 70%,
            #442700 100%
        );
    }

    70% {
        background-image: linear-gradient(
            45deg,
            #442700 20%,
            #030303 50%,
            #005208 80%
        );
    }

    80% {
        background-image: linear-gradient(
            45deg,
            #442700 30%,
            #030303 60%,
            #005208 90%
        );
    }

    90% {
        background-image: linear-gradient(
            45deg,
            #442700 40%,
            #030303 70%,
            #005208 100%
        );
    }

    100% {
        background-image: linear-gradient(
            45deg,
            #005208 20%,
            #442700 50%,
            #030303 80%
        );
    }
}

.mi-nombre-es {
    animation-name: prender;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes prender {
    0% {
        color: #925300;
    }

    50% {
        color: #000000;
    }

    100% {
        color: #004e11;
    }
}

.irvin-foto {
    padding: .7rem;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    /* animation-name: prender-fondo-irvin-foto; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes prender-fondo-irvin-foto {
    0% {
        border: 1px solid #ffffff;
    }

    100% {
        border: 2px solid #e0f002;
    }
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-left: 4rem;
    padding-right: 3rem;
    display: none;
    background-color: black;
    height: 4vh;
    position: relative;
    right: 1rem;
    border-radius: 0.5rem;
    border-bottom-right-radius: 2rem;
    transition: 0.4s;
}

li {
    list-style: none;
    transition: 0.4s;
}

a {
    text-decoration: none;
    color: var(--font-color) !important;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    transition: 0.3s;
}

a:hover {
    color: white;
    text-shadow: -0.1rem 0.1rem 0.4rem white, -0.1rem 0.1rem 0.5rem white;
}

@media only screen and (max-width: 768px) {
    .section-one-header {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .ocupacion {
        text-align: center;
        width: 100%;
        font-size: 10vw;
        margin-top: 2.5rem;
        position: absolute;
        left: 0rem;
        font-weight: 800;
    }
}

.line {
    width: 0;
    height: 0.6rem;
    margin-bottom: 0.2rem;
}

.line1 {
    animation-name: animation-line1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes animation-line1 {
    10% {
        width: 0;
        background-color: var(--brown-a);
    }

    60% {
        background-color: var(--black-a);
    }

    100% {
        width: 10rem;
        background-color: var(--green-a);
        opacity: 0;
    }
}

.line2 {
    animation-name: animation-line2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 0.2rem;
}

@keyframes animation-line2 {
    10% {
        width: 0;
        background-color: var(--green-a);
    }

    60% {
        background-color: var(--black-a);
    }

    100% {
        width: 30rem;
        background-color: var(--brown-a);
    }
}

.line3 {
    animation-name: animation-line3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 0.2rem;
}

@keyframes animation-line3 {
    10% {
        width: 0;
        background-color: var(--green-a);
    }

    60% {
        background-color: var(--black-a);
    }

    100% {
        width: 20rem;
        background-color: var(--brown-a);
    }
}

.line4 {
    animation-name: animation-line4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 0.2rem;
}

@keyframes animation-line4 {
    10% {
        width: 0;
        background-color: var(--green-a);
    }

    60% {
        background-color: var(--black-a);
    }

    100% {
        width: 14rem;
        background-color: var(--brown-a);
        opacity: 1;
    }
}

.line5 {
    animation-name: animation-line5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes animation-line5 {
    10% {
        width: 0;
        background-color: var(--brown-a);
    }

    60% {
        background-color: var(--black-a);
    }

    100% {
        width: 25rem;
        background-color: var(--green-a);
        opacity: 0;
    }
}

.line6 {
    animation-name: animation-line6;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes animation-line6 {
    10% {
        width: 0;
        background-color: var(--brown-a);
    }

    60% {
        background-color: var(--black-a);
    }

    100% {
        width: 13rem;
        background-color: var(--green-a);
        opacity: 0;
    }
}
