@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

:root {
    --font-color: rgb(235, 220, 220);
    --gray: rgb(54, 54, 54);

    --borde: 1px solid rgb(54, 54, 54);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 5rem;
}

body {
    width: 100vw;
    height: 100vh;
    color: var(--font-color);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.open {
    display: flex !important;
}

.on {
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 0.4rem rgb(255, 255, 255), 0 0 0.4rem rgb(255, 255, 255),
        0 0 0.2rem rgb(0, 0, 0), 0 0 .3rem rgb(0, 0, 0) !important;
    opacity: 1;
    transition: .5s;
}
